# Title 

Continuous Assessment 1 06/10/2023 - BD & ADA Module // MSc in Data Analytics Y1 S2 - <b>Student ID 2023063

## Introduction
write intro

--

Data source: https://www.kaggle.com/datasets/mkechinov/ecommerce-events-history-in-cosmetics-shop/data

## Practical Big Data (PySparkSQL) - Prep data

In [1]:
#Import PySparkSQL
import pyspark
from pyspark.sql import SparkSession        

# Create SparkSession
spark = (SparkSession
  .builder
  .appName("SparkSQL")
  .getOrCreate())

# Path to dataset
csv_file = "file:////home/hduser/Downloads/CA1/2020-Jan.csv"

In [2]:
# Read and create a temporary view
df = (spark.read.format("csv")
  .option("inferSchema", "true")
  .option("header", "true")
  .load(csv_file))
df.createOrReplaceTempView("rawdata")

In [3]:
# Visualise inferred schema
data = spark.sql("SELECT * FROM rawdata")
data.printSchema()

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)

In [4]:
# Display 5 first rows
data.show(5)

+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|          event_time|event_type|product_id|        category_id|category_code|   brand|price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|2020-01-01 00:00:...|      view|   5809910|1602943681873052386|         null| grattol| 5.24|595414620|4adb70bb-edbd-498...|
|2020-01-01 00:00:...|      view|   5812943|1487580012121948301|         null|kinetics| 3.97|595414640|c8c5205d-be43-4f1...|
|2020-01-01 00:00:...|      view|   5798924|1783999068867920626|         null|  zinger| 3.97|595412617|46a5010f-bd69-4fb...|
|2020-01-01 00:00:...|      view|   5793052|1487580005754995573|         null|    null| 4.92|420652863|546f6af3-a517-475...|
|2020-01-01 00:00:...|      view|   5899926|2115334439910245200|         null|    null| 3.92|484071203|cff70ddf-529e-4b0...|
+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
only showing top 5 rows

In [5]:
# Number of users
action = spark.sql("SELECT count(distinct user_id) FROM rawdata")
action.show()

+-----------------------+
|count(DISTINCT user_id)|
+-----------------------+
|                 410073|
+-----------------------+

In [6]:
# Number of events
action = spark.sql("SELECT count(distinct event_type) FROM rawdata")
action.show()

+--------------------------+
|count(DISTINCT event_type)|
+--------------------------+
|                         4|
+--------------------------+

In [7]:
# Number of products
action = spark.sql("SELECT count(distinct product_id) FROM rawdata")
action.show()

+--------------------------+
|count(DISTINCT product_id)|
+--------------------------+
|                     45484|
+--------------------------+

In [8]:
# Top seller product
countProduct = spark.sql("SELECT product_id, count(*) FROM rawdata GROUP BY product_id ORDER BY count(*) desc")
countProduct.show(5)

+----------+--------+
|product_id|count(1)|
+----------+--------+
|   5809910|   36967|
|   5809912|   14310|
|   5917178|   12634|
|   5700037|   11429|
|   5686925|   11098|
+----------+--------+
only showing top 5 rows

In [9]:
# New dataframe with topseller product
topseller = spark.sql("SELECT DISTINCT * FROM rawdata WHERE product_id LIKE 5809910")
topseller.show(5)

+--------------------+----------------+----------+-------------------+-------------+-------+-----+---------+--------------------+
|          event_time|      event_type|product_id|        category_id|category_code|  brand|price|  user_id|        user_session|
+--------------------+----------------+----------+-------------------+-------------+-------+-----+---------+--------------------+
|2020-01-01 00:00:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|595414620|4adb70bb-edbd-498...|
|2020-01-01 14:21:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|592285428|33ecf984-0438-459...|
|2020-01-01 16:56:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|595651372|121148f9-4e42-48b...|
|2020-01-01 18:40:...|remove_from_cart|   5809910|1602943681873052386|         null|grattol| 5.24|583351843|85fa8bff-02e8-4a5...|
|2020-01-02 06:09:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|529378930|b99ea2eb-1c67-4f3...|
+--------------------+----------------+----------+-------------------+-------------+-------+-----+---------+--------------------+
only showing top 5 rows

In [10]:
# Drop columns
topseller = topseller.drop(*["product_id","category_id","category_code","brand","price"])

In [11]:
# Show updated topseller df
topseller.show(10,False)

+-----------------------+----------------+---------+------------------------------------+
|event_time             |event_type      |user_id  |user_session                        |
+-----------------------+----------------+---------+------------------------------------+
|2020-01-01 00:00:00 UTC|view            |595414620|4adb70bb-edbd-4981-b60f-a05bfd32683a|
|2020-01-01 14:21:02 UTC|view            |592285428|33ecf984-0438-459c-aea6-241319336d75|
|2020-01-01 16:56:51 UTC|view            |595651372|121148f9-4e42-48ba-94eb-7aca8935940b|
|2020-01-01 18:40:56 UTC|remove_from_cart|583351843|85fa8bff-02e8-4a5f-80b8-a129ce5555e3|
|2020-01-02 06:09:01 UTC|view            |529378930|b99ea2eb-1c67-4f39-ab20-792ebfb87f93|
|2020-01-02 08:21:31 UTC|view            |595842440|b257db78-93e8-46d4-9893-56194751a4d9|
|2020-01-03 06:16:01 UTC|view            |595798798|8b2d9742-eb2f-4bbd-8387-ace81cfdef2a|
|2020-01-03 11:17:22 UTC|cart            |596055322|74521846-45da-4a1e-a61e-19fbe7f6fb82|
|2020-01-03 11:18:18 UTC|view            |552479336|46093a80-aae3-4d2d-a734-44c0acd990e3|
|2020-01-03 11:57:45 UTC|view            |184175105|61552a84-dd9b-4198-8b8e-9f906b0bc7ac|
+-----------------------+----------------+---------+------------------------------------+
only showing top 10 rows

In [12]:
# Customer behaviour before purchasing example
# Random customer collected from filtering event_type: 'purchase' 
from pyspark.sql.functions import asc
topseller.select("event_time","event_type","user_session").filter("user_id = 431397250").orderBy(asc("event_time")).show(truncate=False)

+-----------------------+----------+------------------------------------+
|event_time             |event_type|user_session                        |
+-----------------------+----------+------------------------------------+
|2020-01-07 14:33:37 UTC|view      |d6151353-322f-4a7a-b3a4-0c4c0e52e2f5|
|2020-01-07 14:39:42 UTC|cart      |d6151353-322f-4a7a-b3a4-0c4c0e52e2f5|
|2020-01-07 18:05:19 UTC|purchase  |697d43d2-07f9-4c59-aa7c-8dca123cebc0|
+-----------------------+----------+------------------------------------+

In [13]:
# Customer behaviour before purchasing example
# Random customer collected from filtering event_type: 'purchase' 
from pyspark.sql.functions import asc
topseller.select("event_time","event_type","user_session").filter("user_id = 46383252").orderBy(asc("event_time")).show(30,truncate=False)

+-----------------------+----------+------------------------------------+
|event_time             |event_type|user_session                        |
+-----------------------+----------+------------------------------------+
|2020-01-28 06:12:26 UTC|cart      |5549dfe6-109e-497f-a9f2-01c0aecdd73f|
|2020-01-28 06:14:08 UTC|view      |5549dfe6-109e-497f-a9f2-01c0aecdd73f|
|2020-01-28 06:17:17 UTC|view      |5549dfe6-109e-497f-a9f2-01c0aecdd73f|
|2020-01-28 06:53:25 UTC|purchase  |67347fb6-2e23-4695-8d32-03829cc6fdaf|
+-----------------------+----------+------------------------------------+

In [14]:
# Sort ASC topseller df by user_id and event 
sorted_by_user_event = topseller.orderBy(["user_id","event_type"], ascending= [True, True])

In [15]:
# Return result
sorted_by_user_event.show(5,truncate=False)

+-----------------------+----------------+--------+------------------------------------+
|event_time             |event_type      |user_id |user_session                        |
+-----------------------+----------------+--------+------------------------------------+
|2020-01-28 05:43:43 UTC|view            |4661182 |ce380fb8-bfdd-49a5-949f-eeac2c349af1|
|2020-01-28 05:41:23 UTC|view            |4661182 |ce380fb8-bfdd-49a5-949f-eeac2c349af1|
|2020-01-14 09:33:54 UTC|cart            |12961898|6cb94e2c-4db2-46ac-8c11-1ced638112bc|
|2020-01-13 11:36:50 UTC|cart            |12961898|91ceb8ab-fa0f-4929-b02e-9f36a19e73a5|
|2020-01-27 09:37:44 UTC|remove_from_cart|12961898|ea56a517-171d-4740-a9f7-f628f40274c8|
+-----------------------+----------------+--------+------------------------------------+
only showing top 5 rows

In [16]:
# Group df by user_id and event_type
event_type_count_user = sorted_by_user_event.groupby('user_id','event_type').count()

In [17]:
# New df with organised data counting event_type by user_id
sorted_event_type_count_user = event_type_count_user.orderBy(["user_id","event_type"], ascending= [True, True])

In [18]:
# Display new df
sorted_event_type_count_user.show(10)

+--------+----------------+-----+
| user_id|      event_type|count|
+--------+----------------+-----+
| 4661182|            view|    2|
|12961898|            cart|    2|
|12961898|remove_from_cart|    1|
|27692594|            cart|    1|
|31272873|            cart|    1|
|31272873|remove_from_cart|    1|
|46383252|            cart|    1|
|46383252|        purchase|    1|
|46383252|            view|    2|
|47076222|            view|    5|
+--------+----------------+-----+
only showing top 10 rows

In [19]:
# Convert PySpark Dataframe to Pandas
pandas_df = sorted_event_type_count_user.toPandas()
pandas_df.head()

    user_id        event_type  count
0   4661182              view      2
1  12961898              cart      2
2  12961898  remove_from_cart      1
3  27692594              cart      1
4  31272873              cart      1

In [20]:
# Rearrange column event_type using function .pivot() from pandas lib
pandas_df = pandas_df.pivot(index='user_id',columns='event_type',values='count')
pandas_df

event_type  cart  purchase  remove_from_cart  view
user_id
4661182      NaN       NaN               NaN   2.0
12961898     2.0       NaN               1.0   NaN
27692594     1.0       NaN               NaN   NaN
31272873     1.0       NaN               1.0   NaN
46383252     1.0       1.0               NaN   2.0
...          ...       ...               ...   ...
608796694    NaN       NaN               NaN   1.0
608802103    NaN       NaN               NaN   1.0
608804936    NaN       NaN               NaN   1.0
608816772    NaN       NaN               NaN   4.0
608818188    NaN       NaN               NaN   1.0

[18136 rows x 4 columns]

In [21]:
# Rearrange column position
pandas_df = pandas_df.reindex(columns=['view','cart','remove_from_cart','purchase'])
pandas_df

event_type  view  cart  remove_from_cart  purchase
user_id
4661182      2.0   NaN               NaN       NaN
12961898     NaN   2.0               1.0       NaN
27692594     NaN   1.0               NaN       NaN
31272873     NaN   1.0               1.0       NaN
46383252     2.0   1.0               NaN       1.0
...          ...   ...               ...       ...
608796694    1.0   NaN               NaN       NaN
608802103    1.0   NaN               NaN       NaN
608804936    1.0   NaN               NaN       NaN
608816772    4.0   NaN               NaN       NaN
608818188    1.0   NaN               NaN       NaN

[18136 rows x 4 columns]

In [22]:
# Export final df to csv
pandas_df.to_csv('customer_data.csv')

# Part 2 - Neural Network Model

In [23]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [24]:
# Load dataset
data = pd.read_csv("customer_data.csv")
data

         user_id  view  cart  remove_from_cart  purchase
0        4661182   2.0   NaN               NaN       NaN
1       12961898   NaN   2.0               1.0       NaN
2       27692594   NaN   1.0               NaN       NaN
3       31272873   NaN   1.0               1.0       NaN
4       46383252   2.0   1.0               NaN       1.0
...          ...   ...   ...               ...       ...
18131  608796694   1.0   NaN               NaN       NaN
18132  608802103   1.0   NaN               NaN       NaN
18133  608804936   1.0   NaN               NaN       NaN
18134  608816772   4.0   NaN               NaN       NaN
18135  608818188   1.0   NaN               NaN       NaN

[18136 rows x 5 columns]

In [25]:
# Replace NaN values with 0
data = data.fillna(0)

In [26]:
# Separate features and target variable
X = data[['view', 'cart', 'remove_from_cart']]
y = data[['purchase']]

In [27]:
# Split the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [28]:
# Scale features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
# Build neural network (NN) model 
nnmodel = tf.keras.Sequential([
    tf.keras.layers.Dense(32, activation='relu', input_shape=(3,)),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(1) #output layer, no activation function
])

In [31]:
# Compile NN model

nnmodel.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [32]:
# Train NN model
nnmodel.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
363/363 [==============================] - 1s 915us/step - loss: 0.1026 - mae: 0.1628 - val_loss: 0.0927 - val_mae: 0.1632
Epoch 2/50
363/363 [==============================] - 0s 763us/step - loss: 0.0889 - mae: 0.1536 - val_loss: 0.0865 - val_mae: 0.1444
Epoch 3/50
363/363 [==============================] - 0s 743us/step - loss: 0.0871 - mae: 0.1509 - val_loss: 0.0853 - val_mae: 0.1541
Epoch 4/50
363/363 [==============================] - 0s 712us/step - loss: 0.0854 - mae: 0.1496 - val_loss: 0.0832 - val_mae: 0.1489
Epoch 5/50
363/363 [==============================] - 0s 773us/step - loss: 0.0845 - mae: 0.1468 - val_loss: 0.0833 - val_mae: 0.1474
Epoch 6/50
363/363 [==============================] - 0s 720us/step - loss: 0.0843 - mae: 0.1462 - val_loss: 0.0831 - val_mae: 0.1524
Epoch 7/50
363/363 [==============================] - 0s 832us/step - loss: 0.0845 - mae: 0.1470 - val_loss: 0.0840 - val_mae: 0.1427
Epoch 8/50
363/363 [==============================] - 0s 729us/step - loss: 0.0842 - mae: 0.1455 - val_loss: 0.0825 - val_mae: 0.1472
Epoch 9/50
363/363 [==============================] - 0s 648us/step - loss: 0.0841 - mae: 0.1446 - val_loss: 0.0842 - val_mae: 0.1425
Epoch 10/50
363/363 [==============================] - 0s 719us/step - loss: 0.0835 - mae: 0.1443 - val_loss: 0.0844 - val_mae: 0.1444
Epoch 11/50
363/363 [==============================] - 0s 638us/step - loss: 0.0836 - mae: 0.1454 - val_loss: 0.0838 - val_mae: 0.1423
Epoch 12/50
363/363 [==============================] - 0s 639us/step - loss: 0.0841 - mae: 0.1452 - val_loss: 0.0838 - val_mae: 0.1511
Epoch 13/50
363/363 [==============================] - 0s 717us/step - loss: 0.0839 - mae: 0.1446 - val_loss: 0.0834 - val_mae: 0.1529
Epoch 14/50
363/363 [==============================] - 0s 692us/step - loss: 0.0839 - mae: 0.1448 - val_loss: 0.0825 - val_mae: 0.1477
Epoch 15/50
363/363 [==============================] - 0s 629us/step - loss: 0.0835 - mae: 0.1450 - val_loss: 0.0826 - val_mae: 0.1437
Epoch 16/50
363/363 [==============================] - 0s 671us/step - loss: 0.0834 - mae: 0.1434 - val_loss: 0.0845 - val_mae: 0.1509
Epoch 17/50
363/363 [==============================] - 0s 735us/step - loss: 0.0831 - mae: 0.1439 - val_loss: 0.0828 - val_mae: 0.1458
Epoch 18/50
363/363 [==============================] - 0s 640us/step - loss: 0.0839 - mae: 0.1451 - val_loss: 0.0842 - val_mae: 0.1482
Epoch 19/50
363/363 [==============================] - 0s 638us/step - loss: 0.0831 - mae: 0.1436 - val_loss: 0.0832 - val_mae: 0.1392
Epoch 20/50
363/363 [==============================] - 0s 654us/step - loss: 0.0834 - mae: 0.1434 - val_loss: 0.0835 - val_mae: 0.1430
Epoch 21/50
363/363 [==============================] - 0s 717us/step - loss: 0.0835 - mae: 0.1446 - val_loss: 0.0826 - val_mae: 0.1426
Epoch 22/50
363/363 [==============================] - 0s 638us/step - loss: 0.0832 - mae: 0.1451 - val_loss: 0.0842 - val_mae: 0.1493
Epoch 23/50
363/363 [==============================] - 0s 624us/step - loss: 0.0833 - mae: 0.1442 - val_loss: 0.0824 - val_mae: 0.1435
Epoch 24/50
363/363 [==============================] - 0s 632us/step - loss: 0.0830 - mae: 0.1439 - val_loss: 0.0828 - val_mae: 0.1463
Epoch 25/50
363/363 [==============================] - 0s 647us/step - loss: 0.0828 - mae: 0.1441 - val_loss: 0.0836 - val_mae: 0.1382
Epoch 26/50
363/363 [==============================] - 0s 627us/step - loss: 0.0829 - mae: 0.1428 - val_loss: 0.0837 - val_mae: 0.1456
Epoch 27/50
363/363 [==============================] - 0s 718us/step - loss: 0.0825 - mae: 0.1431 - val_loss: 0.0847 - val_mae: 0.1404
Epoch 28/50
363/363 [==============================] - 0s 692us/step - loss: 0.0831 - mae: 0.1444 - val_loss: 0.0836 - val_mae: 0.1450
Epoch 29/50
363/363 [==============================] - 0s 703us/step - loss: 0.0832 - mae: 0.1445 - val_loss: 0.0834 - val_mae: 0.1402
Epoch 30/50
363/363 [==============================] - 0s 656us/step - loss: 0.0835 - mae: 0.1448 - val_loss: 0.0840 - val_mae: 0.1438
Epoch 31/50
363/363 [==============================] - 0s 657us/step - loss: 0.0830 - mae: 0.1447 - val_loss: 0.0832 - val_mae: 0.1513
Epoch 32/50
363/363 [==============================] - 0s 641us/step - loss: 0.0828 - mae: 0.1436 - val_loss: 0.0835 - val_mae: 0.1456
Epoch 33/50
363/363 [==============================] - 0s 828us/step - loss: 0.0830 - mae: 0.1452 - val_loss: 0.0833 - val_mae: 0.1371
Epoch 34/50
363/363 [==============================] - 0s 625us/step - loss: 0.0827 - mae: 0.1442 - val_loss: 0.0836 - val_mae: 0.1512
Epoch 35/50
363/363 [==============================] - 0s 651us/step - loss: 0.0825 - mae: 0.1435 - val_loss: 0.0841 - val_mae: 0.1425
Epoch 36/50
363/363 [==============================] - 0s 705us/step - loss: 0.0825 - mae: 0.1439 - val_loss: 0.0831 - val_mae: 0.1460
Epoch 37/50
363/363 [==============================] - 0s 659us/step - loss: 0.0829 - mae: 0.1439 - val_loss: 0.0838 - val_mae: 0.1439
Epoch 38/50
363/363 [==============================] - 0s 722us/step - loss: 0.0825 - mae: 0.1436 - val_loss: 0.0836 - val_mae: 0.1460
Epoch 39/50
363/363 [==============================] - 0s 710us/step - loss: 0.0829 - mae: 0.1438 - val_loss: 0.0833 - val_mae: 0.1387
Epoch 40/50
363/363 [==============================] - 0s 754us/step - loss: 0.0826 - mae: 0.1436 - val_loss: 0.0835 - val_mae: 0.1439
Epoch 41/50
363/363 [==============================] - 0s 757us/step - loss: 0.0827 - mae: 0.1439 - val_loss: 0.0841 - val_mae: 0.1417
Epoch 42/50
363/363 [==============================] - 0s 729us/step - loss: 0.0827 - mae: 0.1446 - val_loss: 0.0834 - val_mae: 0.1463
Epoch 43/50
363/363 [==============================] - 0s 717us/step - loss: 0.0823 - mae: 0.1425 - val_loss: 0.0844 - val_mae: 0.1468
Epoch 44/50
363/363 [==============================] - 0s 709us/step - loss: 0.0824 - mae: 0.1431 - val_loss: 0.0833 - val_mae: 0.1430
Epoch 45/50
363/363 [==============================] - 0s 626us/step - loss: 0.0825 - mae: 0.1432 - val_loss: 0.0837 - val_mae: 0.1504
Epoch 46/50
363/363 [==============================] - 0s 672us/step - loss: 0.0826 - mae: 0.1431 - val_loss: 0.0837 - val_mae: 0.1430
Epoch 47/50
363/363 [==============================] - 0s 655us/step - loss: 0.0821 - mae: 0.1420 - val_loss: 0.0837 - val_mae: 0.1485
Epoch 48/50
363/363 [==============================] - 0s 728us/step - loss: 0.0825 - mae: 0.1443 - val_loss: 0.0842 - val_mae: 0.1419
Epoch 49/50
363/363 [==============================] - 0s 895us/step - loss: 0.0823 - mae: 0.1430 - val_loss: 0.0842 - val_mae: 0.1484
Epoch 50/50
363/363 [==============================] - 0s 766us/step - loss: 0.0820 - mae: 0.1424 - val_loss: 0.0834 - val_mae: 0.1435

In [33]:
# Evaluate NN model
loss, mae = nnmodel.evaluate(X_test, y_test)
print(f'Mean absolute error (MAE) on test data: {mae}')

114/114 [==============================] - 0s 475us/step - loss: 0.0729 - mae: 0.1380
Mean absolute error (MAE) on test data: 0.1380244493484497

In [34]:
# Make prediction
new_customer = np.array([[8,4,2]])
scaled_data = scaler.transform(new_customer)
prediction = nnmodel.predict(scaled_data)

print(f'Predicted number of purchases: {prediction[0][0]}')

1/1 [==============================] - 0s 31ms/step
Predicted number of purchases: 1.0471512079238892

In [35]:
# Hyperparameter tuning

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers.legacy import Adam
from itertools import product

In [36]:
# Define the model as a function 
def create_model(learning_rate=0.01, num_hidden_layers=2, num_neurons=32, activation='relu'):
    model = Sequential()
    model.add(Dense(num_neurons, activation=activation, input_shape=(3,)))
    
    for _ in range(num_hidden_layers - 1):
        model.add(Dense(num_neurons, activation=activation))
    
    model.add(Dense(1)) #output layer, no activation function
    
    optimizer = Adam(learning_rate=learning_rate)
    model.compile(optimizer=optimizer, loss='mean_squared_error', metrics=['mae'])
    
    return model

In [37]:
# Split the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Scale features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [38]:
# Define hyperparameters
param_grid = {
    'learning_rate': [0.001, 0.01, 0.1],
    'num_hidden_layers': [1, 2, 3],
    'num_neurons': [16, 32, 64],
    'activation': ['relu', 'tanh']
}

In [39]:
# Perform the grid search
best_params = None
best_score = float('inf')

In [40]:
for learning_rate, num_hidden_layers, num_neurons, activation in product(
    param_grid['learning_rate'],
    param_grid['num_hidden_layers'],
    param_grid['num_neurons'],
    param_grid['activation']
):
    params = {
        'learning_rate': learning_rate,
        'num_hidden_layers': num_hidden_layers,
        'num_neurons': num_neurons,
        'activation': activation
    }

    # Create and compile the model
    model1 = create_model(**params)

    # Train the model on the training set
    model1.fit(X_train, y_train, epochs=50, batch_size=32, verbose=0)

    # Evaluate the model on the validation set
    _, mae = model1.evaluate(X_test, y_test)

    if mae < best_score:
        best_score = mae
        best_params = params

# Print the best hyperparameters and corresponding score
print("Best Hyperparameters: ", best_params)
print("Best MAE Score: ", best_score)

114/114 [==============================] - 0s 436us/step - loss: 0.0733 - mae: 0.1433
114/114 [==============================] - 0s 438us/step - loss: 0.0768 - mae: 0.1534
114/114 [==============================] - 0s 424us/step - loss: 0.0727 - mae: 0.1351
114/114 [==============================] - 0s 438us/step - loss: 0.0800 - mae: 0.1644
114/114 [==============================] - 0s 550us/step - loss: 0.0735 - mae: 0.1416
114/114 [==============================] - 0s 438us/step - loss: 0.0784 - mae: 0.1406
114/114 [==============================] - 0s 441us/step - loss: 0.0737 - mae: 0.1466
114/114 [==============================] - 0s 433us/step - loss: 0.0729 - mae: 0.1369
114/114 [==============================] - 0s 502us/step - loss: 0.0734 - mae: 0.1376
114/114 [==============================] - 0s 432us/step - loss: 0.0744 - mae: 0.1558
114/114 [==============================] - 0s 551us/step - loss: 0.0725 - mae: 0.1316
114/114 [==============================] - 0s 472us/step - loss: 0.0725 - mae: 0.1446
114/114 [==============================] - 0s 452us/step - loss: 0.0725 - mae: 0.1393
114/114 [==============================] - 0s 593us/step - loss: 0.0732 - mae: 0.1460
114/114 [==============================] - 0s 622us/step - loss: 0.0726 - mae: 0.1361
114/114 [==============================] - 0s 546us/step - loss: 0.0726 - mae: 0.1384
114/114 [==============================] - 0s 493us/step - loss: 0.0730 - mae: 0.1346
114/114 [==============================] - 0s 465us/step - loss: 0.0730 - mae: 0.1417
114/114 [==============================] - 0s 389us/step - loss: 0.0721 - mae: 0.1380
114/114 [==============================] - 0s 474us/step - loss: 0.0789 - mae: 0.1747
114/114 [==============================] - 0s 521us/step - loss: 0.0728 - mae: 0.1534
114/114 [==============================] - 0s 507us/step - loss: 0.0731 - mae: 0.1416
114/114 [==============================] - 0s 396us/step - loss: 0.0720 - mae: 0.1473
114/114 [==============================] - 0s 455us/step - loss: 0.0817 - mae: 0.1571
114/114 [==============================] - 0s 440us/step - loss: 0.0731 - mae: 0.1426
114/114 [==============================] - 0s 442us/step - loss: 0.0742 - mae: 0.1527
114/114 [==============================] - 0s 436us/step - loss: 0.0720 - mae: 0.1456
114/114 [==============================] - 0s 454us/step - loss: 0.0737 - mae: 0.1626
114/114 [==============================] - 0s 466us/step - loss: 0.0723 - mae: 0.1430
114/114 [==============================] - 0s 476us/step - loss: 0.0854 - mae: 0.1600
114/114 [==============================] - 0s 405us/step - loss: 0.0747 - mae: 0.1564
114/114 [==============================] - 0s 441us/step - loss: 0.0742 - mae: 0.1561
114/114 [==============================] - 0s 429us/step - loss: 0.0731 - mae: 0.1477
114/114 [==============================] - 0s 464us/step - loss: 0.0769 - mae: 0.1802
114/114 [==============================] - 0s 455us/step - loss: 0.0747 - mae: 0.1457
114/114 [==============================] - 0s 484us/step - loss: 0.0991 - mae: 0.1626
114/114 [==============================] - 0s 459us/step - loss: 0.0968 - mae: 0.1986
114/114 [==============================] - 0s 447us/step - loss: 0.1335 - mae: 0.2415
114/114 [==============================] - 0s 442us/step - loss: 0.1068 - mae: 0.2770
114/114 [==============================] - 0s 416us/step - loss: 0.1070 - mae: 0.2237
114/114 [==============================] - 0s 446us/step - loss: 0.0964 - mae: 0.1908
114/114 [==============================] - 0s 515us/step - loss: 0.2289 - mae: 0.4421
114/114 [==============================] - 0s 443us/step - loss: 0.1000 - mae: 0.2050
114/114 [==============================] - 0s 447us/step - loss: 0.0816 - mae: 0.1604
114/114 [==============================] - 0s 455us/step - loss: 0.0781 - mae: 0.1407
114/114 [==============================] - 0s 481us/step - loss: 0.3478 - mae: 0.5592
114/114 [==============================] - 0s 494us/step - loss: 0.0926 - mae: 0.2215
114/114 [==============================] - 0s 455us/step - loss: 0.2675 - mae: 0.4257
114/114 [==============================] - 0s 483us/step - loss: 0.1078 - mae: 0.2615
114/114 [==============================] - 0s 435us/step - loss: 0.1127 - mae: 0.2805
114/114 [==============================] - 0s 445us/step - loss: 0.1005 - mae: 0.2140
114/114 [==============================] - 0s 475us/step - loss: 0.1004 - mae: 0.2179
114/114 [==============================] - 0s 451us/step - loss: 0.1252 - mae: 0.3168
114/114 [==============================] - 0s 457us/step - loss: 0.2597 - mae: 0.4223
Best Hyperparameters:  {'learning_rate': 0.001, 'num_hidden_layers': 2, 'num_neurons': 64, 'activation': 'relu'}
Best MAE Score:  0.1315811276435852