# Predictive Modeling of Customer Purchase Behaviour in E-Commerce: A Neural Network Approach

Continuous Assessment 1 06/10/2023 - BD & ADA Module // MSc in Data Analytics Y1 S2 - <b>Student ID 2023063
    
Data source: https://www.kaggle.com/datasets/mkechinov/ecommerce-events-history-in-cosmetics-shop/data

Github: https://github.com/ASM2023063/mscda-20232-ca1

## 1. Research  Understanding Phase

write 

--

## 2. Data Understanding Phase

### Practical Big Data (PySparkSQL) - Part 1

In [1]:
#Import PySparkSQL
import pyspark
from pyspark.sql import SparkSession        

# Create SparkSession
spark = (SparkSession
  .builder
  .appName("SparkSQL")
  .getOrCreate())

# Path to dataset
csv_file = "file:////home/hduser/Downloads/CA1/2020-Jan.csv"

In [2]:
# Read and create a temporary view
df = (spark.read.format("csv")
  .option("inferSchema", "true")
  .option("header", "true")
  .load(csv_file))
df.createOrReplaceTempView("rawdata")

In [3]:
# Visualise inferred schema
data = spark.sql("SELECT * FROM rawdata")
data.printSchema()

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)

In [4]:
# Display 5 first rows
data.show(5)

+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|          event_time|event_type|product_id|        category_id|category_code|   brand|price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
|2020-01-01 00:00:...|      view|   5809910|1602943681873052386|         null| grattol| 5.24|595414620|4adb70bb-edbd-498...|
|2020-01-01 00:00:...|      view|   5812943|1487580012121948301|         null|kinetics| 3.97|595414640|c8c5205d-be43-4f1...|
|2020-01-01 00:00:...|      view|   5798924|1783999068867920626|         null|  zinger| 3.97|595412617|46a5010f-bd69-4fb...|
|2020-01-01 00:00:...|      view|   5793052|1487580005754995573|         null|    null| 4.92|420652863|546f6af3-a517-475...|
|2020-01-01 00:00:...|      view|   5899926|2115334439910245200|         null|    null| 3.92|484071203|cff70ddf-529e-4b0...|
+--------------------+----------+----------+-------------------+-------------+--------+-----+---------+--------------------+
only showing top 5 rows

In [5]:
# Number of users
action = spark.sql("SELECT count(distinct user_id) FROM rawdata")
action.show()

+-----------------------+
|count(DISTINCT user_id)|
+-----------------------+
|                 410073|
+-----------------------+

In [6]:
# Number of events
action = spark.sql("SELECT count(distinct event_type) FROM rawdata")
action.show()

+--------------------------+
|count(DISTINCT event_type)|
+--------------------------+
|                         4|
+--------------------------+

In [7]:
# Number of products
action = spark.sql("SELECT count(distinct product_id) FROM rawdata")
action.show()

+--------------------------+
|count(DISTINCT product_id)|
+--------------------------+
|                     45484|
+--------------------------+

In [8]:
# Top seller product
countProduct = spark.sql("SELECT product_id, count(*) FROM rawdata GROUP BY product_id ORDER BY count(*) desc")
countProduct.show(5)

+----------+--------+
|product_id|count(1)|
+----------+--------+
|   5809910|   36967|
|   5809912|   14310|
|   5917178|   12634|
|   5700037|   11429|
|   5686925|   11098|
+----------+--------+
only showing top 5 rows

## 3. Data Preparation Phase

In [9]:
# New dataframe with topseller product
topseller = spark.sql("SELECT DISTINCT * FROM rawdata WHERE product_id LIKE 5809910")
topseller.show(5)

+--------------------+----------------+----------+-------------------+-------------+-------+-----+---------+--------------------+
|          event_time|      event_type|product_id|        category_id|category_code|  brand|price|  user_id|        user_session|
+--------------------+----------------+----------+-------------------+-------------+-------+-----+---------+--------------------+
|2020-01-01 00:00:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|595414620|4adb70bb-edbd-498...|
|2020-01-01 14:21:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|592285428|33ecf984-0438-459...|
|2020-01-01 16:56:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|595651372|121148f9-4e42-48b...|
|2020-01-01 18:40:...|remove_from_cart|   5809910|1602943681873052386|         null|grattol| 5.24|583351843|85fa8bff-02e8-4a5...|
|2020-01-02 06:09:...|            view|   5809910|1602943681873052386|         null|grattol| 5.24|529378930|b99ea2eb-1c67-4f3...|
+--------------------+----------------+----------+-------------------+-------------+-------+-----+---------+--------------------+
only showing top 5 rows

In [10]:
# Drop columns
topseller = topseller.drop(*["product_id","category_id","category_code","brand","price"])

In [11]:
# Show updated topseller df
topseller.show(10,False)

+-----------------------+----------------+---------+------------------------------------+
|event_time             |event_type      |user_id  |user_session                        |
+-----------------------+----------------+---------+------------------------------------+
|2020-01-01 00:00:00 UTC|view            |595414620|4adb70bb-edbd-4981-b60f-a05bfd32683a|
|2020-01-01 14:21:02 UTC|view            |592285428|33ecf984-0438-459c-aea6-241319336d75|
|2020-01-01 16:56:51 UTC|view            |595651372|121148f9-4e42-48ba-94eb-7aca8935940b|
|2020-01-01 18:40:56 UTC|remove_from_cart|583351843|85fa8bff-02e8-4a5f-80b8-a129ce5555e3|
|2020-01-02 06:09:01 UTC|view            |529378930|b99ea2eb-1c67-4f39-ab20-792ebfb87f93|
|2020-01-02 08:21:31 UTC|view            |595842440|b257db78-93e8-46d4-9893-56194751a4d9|
|2020-01-03 06:16:01 UTC|view            |595798798|8b2d9742-eb2f-4bbd-8387-ace81cfdef2a|
|2020-01-03 11:17:22 UTC|cart            |596055322|74521846-45da-4a1e-a61e-19fbe7f6fb82|
|2020-01-03 11:18:18 UTC|view            |552479336|46093a80-aae3-4d2d-a734-44c0acd990e3|
|2020-01-03 11:57:45 UTC|view            |184175105|61552a84-dd9b-4198-8b8e-9f906b0bc7ac|
+-----------------------+----------------+---------+------------------------------------+
only showing top 10 rows

In [12]:
# Customer behaviour before purchasing example
# Random customer collected from filtering event_type: 'purchase' 
from pyspark.sql.functions import asc
topseller.select("event_time","event_type","user_session").filter("user_id = 431397250").orderBy(asc("event_time")).show(truncate=False)

+-----------------------+----------+------------------------------------+
|event_time             |event_type|user_session                        |
+-----------------------+----------+------------------------------------+
|2020-01-07 14:33:37 UTC|view      |d6151353-322f-4a7a-b3a4-0c4c0e52e2f5|
|2020-01-07 14:39:42 UTC|cart      |d6151353-322f-4a7a-b3a4-0c4c0e52e2f5|
|2020-01-07 18:05:19 UTC|purchase  |697d43d2-07f9-4c59-aa7c-8dca123cebc0|
+-----------------------+----------+------------------------------------+

In [13]:
# Customer behaviour before purchasing example
# Random customer collected from filtering event_type: 'purchase' 
from pyspark.sql.functions import asc
topseller.select("event_time","event_type","user_session").filter("user_id = 46383252").orderBy(asc("event_time")).show(30,truncate=False)

+-----------------------+----------+------------------------------------+
|event_time             |event_type|user_session                        |
+-----------------------+----------+------------------------------------+
|2020-01-28 06:12:26 UTC|cart      |5549dfe6-109e-497f-a9f2-01c0aecdd73f|
|2020-01-28 06:14:08 UTC|view      |5549dfe6-109e-497f-a9f2-01c0aecdd73f|
|2020-01-28 06:17:17 UTC|view      |5549dfe6-109e-497f-a9f2-01c0aecdd73f|
|2020-01-28 06:53:25 UTC|purchase  |67347fb6-2e23-4695-8d32-03829cc6fdaf|
+-----------------------+----------+------------------------------------+

In [14]:
# Sort ASC topseller df by user_id and event 
sorted_by_user_event = topseller.orderBy(["user_id","event_type"], ascending= [True, True])

In [15]:
# Return result
sorted_by_user_event.show(5,truncate=False)

+-----------------------+----------------+--------+------------------------------------+
|event_time             |event_type      |user_id |user_session                        |
+-----------------------+----------------+--------+------------------------------------+
|2020-01-28 05:41:23 UTC|view            |4661182 |ce380fb8-bfdd-49a5-949f-eeac2c349af1|
|2020-01-28 05:43:43 UTC|view            |4661182 |ce380fb8-bfdd-49a5-949f-eeac2c349af1|
|2020-01-14 09:33:54 UTC|cart            |12961898|6cb94e2c-4db2-46ac-8c11-1ced638112bc|
|2020-01-13 11:36:50 UTC|cart            |12961898|91ceb8ab-fa0f-4929-b02e-9f36a19e73a5|
|2020-01-27 09:37:44 UTC|remove_from_cart|12961898|ea56a517-171d-4740-a9f7-f628f40274c8|
+-----------------------+----------------+--------+------------------------------------+
only showing top 5 rows

In [16]:
# Group df by user_id and event_type
event_type_count_user = sorted_by_user_event.groupby('user_id','event_type').count()

In [17]:
# New df with organised data counting event_type by user_id
sorted_event_type_count_user = event_type_count_user.orderBy(["user_id","event_type"], ascending= [True, True])

In [18]:
# Display new df
sorted_event_type_count_user.show(10)

+--------+----------------+-----+
| user_id|      event_type|count|
+--------+----------------+-----+
| 4661182|            view|    2|
|12961898|            cart|    2|
|12961898|remove_from_cart|    1|
|27692594|            cart|    1|
|31272873|            cart|    1|
|31272873|remove_from_cart|    1|
|46383252|            cart|    1|
|46383252|        purchase|    1|
|46383252|            view|    2|
|47076222|            view|    5|
+--------+----------------+-----+
only showing top 10 rows

In [19]:
# Convert PySpark Dataframe to Pandas
pandas_df = sorted_event_type_count_user.toPandas()
pandas_df.head()

    user_id        event_type  count
0   4661182              view      2
1  12961898              cart      2
2  12961898  remove_from_cart      1
3  27692594              cart      1
4  31272873              cart      1

In [20]:
# Rearrange column event_type using function .pivot() from pandas lib
pandas_df = pandas_df.pivot(index='user_id',columns='event_type',values='count')
pandas_df

event_type  cart  purchase  remove_from_cart  view
user_id
4661182      NaN       NaN               NaN   2.0
12961898     2.0       NaN               1.0   NaN
27692594     1.0       NaN               NaN   NaN
31272873     1.0       NaN               1.0   NaN
46383252     1.0       1.0               NaN   2.0
...          ...       ...               ...   ...
608796694    NaN       NaN               NaN   1.0
608802103    NaN       NaN               NaN   1.0
608804936    NaN       NaN               NaN   1.0
608816772    NaN       NaN               NaN   4.0
608818188    NaN       NaN               NaN   1.0

[18136 rows x 4 columns]

In [21]:
# Rearrange column position
pandas_df = pandas_df.reindex(columns=['view','cart','remove_from_cart','purchase'])
pandas_df

event_type  view  cart  remove_from_cart  purchase
user_id
4661182      2.0   NaN               NaN       NaN
12961898     NaN   2.0               1.0       NaN
27692594     NaN   1.0               NaN       NaN
31272873     NaN   1.0               1.0       NaN
46383252     2.0   1.0               NaN       1.0
...          ...   ...               ...       ...
608796694    1.0   NaN               NaN       NaN
608802103    1.0   NaN               NaN       NaN
608804936    1.0   NaN               NaN       NaN
608816772    4.0   NaN               NaN       NaN
608818188    1.0   NaN               NaN       NaN

[18136 rows x 4 columns]

In [22]:
# Export final df to csv
pandas_df.to_csv('customer_data.csv')

## 4. Modeling Phase

### Neural Network Model - Part 2

In [23]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [24]:
# Load dataset
data = pd.read_csv("customer_data.csv")
data

         user_id  view  cart  remove_from_cart  purchase
0        4661182   2.0   NaN               NaN       NaN
1       12961898   NaN   2.0               1.0       NaN
2       27692594   NaN   1.0               NaN       NaN
3       31272873   NaN   1.0               1.0       NaN
4       46383252   2.0   1.0               NaN       1.0
...          ...   ...   ...               ...       ...
18131  608796694   1.0   NaN               NaN       NaN
18132  608802103   1.0   NaN               NaN       NaN
18133  608804936   1.0   NaN               NaN       NaN
18134  608816772   4.0   NaN               NaN       NaN
18135  608818188   1.0   NaN               NaN       NaN

[18136 rows x 5 columns]

In [25]:
# Replace NaN values with 0
data = data.fillna(0)

In [26]:
data

         user_id  view  cart  remove_from_cart  purchase
0        4661182   2.0   0.0               0.0       0.0
1       12961898   0.0   2.0               1.0       0.0
2       27692594   0.0   1.0               0.0       0.0
3       31272873   0.0   1.0               1.0       0.0
4       46383252   2.0   1.0               0.0       1.0
...          ...   ...   ...               ...       ...
18131  608796694   1.0   0.0               0.0       0.0
18132  608802103   1.0   0.0               0.0       0.0
18133  608804936   1.0   0.0               0.0       0.0
18134  608816772   4.0   0.0               0.0       0.0
18135  608818188   1.0   0.0               0.0       0.0

[18136 rows x 5 columns]

In [27]:
# Separate features and target variable
X = data[['view', 'cart', 'remove_from_cart']]
y = data[['purchase']]

In [28]:
# Split the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [29]:
# Scale features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [30]:
# Build neural network (NN) model 
nnmodel = tf.keras.Sequential([
    tf.keras.layers.Dense(32, activation='relu', input_shape=(3,)),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(1) #output layer, no activation function
])

In [31]:
# Compile NN model

nnmodel.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [32]:
# Train NN model
nnmodel.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
363/363 [==============================] - 0s 794us/step - loss: 0.0947 - mae: 0.1590 - val_loss: 0.0893 - val_mae: 0.1505
Epoch 2/50
363/363 [==============================] - 0s 665us/step - loss: 0.0893 - mae: 0.1547 - val_loss: 0.0883 - val_mae: 0.1625
Epoch 3/50
363/363 [==============================] - 0s 692us/step - loss: 0.0866 - mae: 0.1528 - val_loss: 0.0837 - val_mae: 0.1564
Epoch 4/50
363/363 [==============================] - 0s 764us/step - loss: 0.0862 - mae: 0.1503 - val_loss: 0.0849 - val_mae: 0.1448
Epoch 5/50
363/363 [==============================] - 0s 666us/step - loss: 0.0854 - mae: 0.1492 - val_loss: 0.0823 - val_mae: 0.1460
Epoch 6/50
363/363 [==============================] - 0s 643us/step - loss: 0.0857 - mae: 0.1486 - val_loss: 0.0833 - val_mae: 0.1462
Epoch 7/50
363/363 [==============================] - 0s 654us/step - loss: 0.0853 - mae: 0.1483 - val_loss: 0.0835 - val_mae: 0.1460
Epoch 8/50
363/363 [==============================] - 0s 683us/step - loss: 0.0855 - mae: 0.1479 - val_loss: 0.0854 - val_mae: 0.1562
Epoch 9/50
363/363 [==============================] - 0s 666us/step - loss: 0.0850 - mae: 0.1478 - val_loss: 0.0832 - val_mae: 0.1408
Epoch 10/50
363/363 [==============================] - 0s 666us/step - loss: 0.0848 - mae: 0.1482 - val_loss: 0.0839 - val_mae: 0.1445
Epoch 11/50
363/363 [==============================] - 0s 686us/step - loss: 0.0851 - mae: 0.1483 - val_loss: 0.0832 - val_mae: 0.1377
Epoch 12/50
363/363 [==============================] - 0s 678us/step - loss: 0.0847 - mae: 0.1476 - val_loss: 0.0862 - val_mae: 0.1546
Epoch 13/50
363/363 [==============================] - 0s 700us/step - loss: 0.0846 - mae: 0.1457 - val_loss: 0.0875 - val_mae: 0.1568
Epoch 14/50
363/363 [==============================] - 0s 692us/step - loss: 0.0841 - mae: 0.1474 - val_loss: 0.0844 - val_mae: 0.1567
Epoch 15/50
363/363 [==============================] - 0s 661us/step - loss: 0.0846 - mae: 0.1456 - val_loss: 0.0843 - val_mae: 0.1347
Epoch 16/50
363/363 [==============================] - 0s 652us/step - loss: 0.0841 - mae: 0.1467 - val_loss: 0.0865 - val_mae: 0.1543
Epoch 17/50
363/363 [==============================] - 0s 682us/step - loss: 0.0844 - mae: 0.1475 - val_loss: 0.0832 - val_mae: 0.1417
Epoch 18/50
363/363 [==============================] - 0s 645us/step - loss: 0.0845 - mae: 0.1460 - val_loss: 0.0829 - val_mae: 0.1461
Epoch 19/50
363/363 [==============================] - 0s 637us/step - loss: 0.0846 - mae: 0.1481 - val_loss: 0.0829 - val_mae: 0.1402
Epoch 20/50
363/363 [==============================] - 0s 682us/step - loss: 0.0842 - mae: 0.1457 - val_loss: 0.0819 - val_mae: 0.1460
Epoch 21/50
363/363 [==============================] - 0s 694us/step - loss: 0.0840 - mae: 0.1474 - val_loss: 0.0835 - val_mae: 0.1422
Epoch 22/50
363/363 [==============================] - 0s 641us/step - loss: 0.0838 - mae: 0.1457 - val_loss: 0.0821 - val_mae: 0.1468
Epoch 23/50
363/363 [==============================] - 0s 666us/step - loss: 0.0839 - mae: 0.1456 - val_loss: 0.0825 - val_mae: 0.1470
Epoch 24/50
363/363 [==============================] - 0s 660us/step - loss: 0.0858 - mae: 0.1468 - val_loss: 0.0821 - val_mae: 0.1463
Epoch 25/50
363/363 [==============================] - 0s 718us/step - loss: 0.0841 - mae: 0.1457 - val_loss: 0.0840 - val_mae: 0.1424
Epoch 26/50
363/363 [==============================] - 0s 654us/step - loss: 0.0839 - mae: 0.1458 - val_loss: 0.0833 - val_mae: 0.1404
Epoch 27/50
363/363 [==============================] - 0s 689us/step - loss: 0.0838 - mae: 0.1454 - val_loss: 0.0848 - val_mae: 0.1516
Epoch 28/50
363/363 [==============================] - 0s 637us/step - loss: 0.0841 - mae: 0.1444 - val_loss: 0.0832 - val_mae: 0.1509
Epoch 29/50
363/363 [==============================] - 0s 684us/step - loss: 0.0837 - mae: 0.1464 - val_loss: 0.0827 - val_mae: 0.1425
Epoch 30/50
363/363 [==============================] - 0s 684us/step - loss: 0.0837 - mae: 0.1463 - val_loss: 0.0841 - val_mae: 0.1436
Epoch 31/50
363/363 [==============================] - 0s 785us/step - loss: 0.0840 - mae: 0.1461 - val_loss: 0.0829 - val_mae: 0.1465
Epoch 32/50
363/363 [==============================] - 0s 685us/step - loss: 0.0840 - mae: 0.1457 - val_loss: 0.0820 - val_mae: 0.1393
Epoch 33/50
363/363 [==============================] - 0s 647us/step - loss: 0.0835 - mae: 0.1440 - val_loss: 0.0824 - val_mae: 0.1492
Epoch 34/50
363/363 [==============================] - 0s 652us/step - loss: 0.0833 - mae: 0.1458 - val_loss: 0.0823 - val_mae: 0.1433
Epoch 35/50
363/363 [==============================] - 0s 664us/step - loss: 0.0835 - mae: 0.1454 - val_loss: 0.0834 - val_mae: 0.1500
Epoch 36/50
363/363 [==============================] - 0s 658us/step - loss: 0.0839 - mae: 0.1446 - val_loss: 0.0828 - val_mae: 0.1497
Epoch 37/50
363/363 [==============================] - 0s 658us/step - loss: 0.0842 - mae: 0.1456 - val_loss: 0.0835 - val_mae: 0.1448
Epoch 38/50
363/363 [==============================] - 0s 661us/step - loss: 0.0832 - mae: 0.1462 - val_loss: 0.0829 - val_mae: 0.1516
Epoch 39/50
363/363 [==============================] - 0s 640us/step - loss: 0.0832 - mae: 0.1448 - val_loss: 0.0848 - val_mae: 0.1410
Epoch 40/50
363/363 [==============================] - 0s 684us/step - loss: 0.0834 - mae: 0.1452 - val_loss: 0.0837 - val_mae: 0.1471
Epoch 41/50
363/363 [==============================] - 0s 687us/step - loss: 0.0835 - mae: 0.1461 - val_loss: 0.0876 - val_mae: 0.1541
Epoch 42/50
363/363 [==============================] - 0s 660us/step - loss: 0.0834 - mae: 0.1466 - val_loss: 0.0822 - val_mae: 0.1414
Epoch 43/50
363/363 [==============================] - 0s 651us/step - loss: 0.0833 - mae: 0.1455 - val_loss: 0.0834 - val_mae: 0.1434
Epoch 44/50
363/363 [==============================] - 0s 678us/step - loss: 0.0830 - mae: 0.1451 - val_loss: 0.0837 - val_mae: 0.1522
Epoch 45/50
363/363 [==============================] - 0s 664us/step - loss: 0.0832 - mae: 0.1455 - val_loss: 0.0829 - val_mae: 0.1425
Epoch 46/50
363/363 [==============================] - 0s 650us/step - loss: 0.0835 - mae: 0.1433 - val_loss: 0.0840 - val_mae: 0.1505
Epoch 47/50
363/363 [==============================] - 0s 658us/step - loss: 0.0834 - mae: 0.1449 - val_loss: 0.0827 - val_mae: 0.1412
Epoch 48/50
363/363 [==============================] - 0s 656us/step - loss: 0.0827 - mae: 0.1446 - val_loss: 0.0824 - val_mae: 0.1417
Epoch 49/50
363/363 [==============================] - 0s 657us/step - loss: 0.0831 - mae: 0.1451 - val_loss: 0.0824 - val_mae: 0.1402
Epoch 50/50
363/363 [==============================] - 0s 671us/step - loss: 0.0828 - mae: 0.1436 - val_loss: 0.0839 - val_mae: 0.1444

## 5. Evaluation Phase

In [33]:
# Evaluate NN model
loss, mae = nnmodel.evaluate(X_test, y_test)
print(f'Mean absolute error (MAE) on test data: {mae}')

114/114 [==============================] - 0s 473us/step - loss: 0.0750 - mae: 0.1400
Mean absolute error (MAE) on test data: 0.14002910256385803

In [34]:
# Make prediction
new_customer = np.array([[8,4,2]])
scaled_data = scaler.transform(new_customer)
prediction = nnmodel.predict(scaled_data)

print(f'Predicted number of purchases: {prediction[0][0]}')

1/1 [==============================] - 0s 31ms/step
Predicted number of purchases: 1.313423991203308

## 6. Deployment Phase

In [35]:
# Hyperparameter tuning

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers.legacy import Adam
from itertools import product

In [36]:
# Define the model as a function 
def create_model(learning_rate=0.01, num_hidden_layers=2, num_neurons=32, activation='relu'):
    model = Sequential()
    model.add(Dense(num_neurons, activation=activation, input_shape=(3,)))
    
    for _ in range(num_hidden_layers - 1):
        model.add(Dense(num_neurons, activation=activation))
    
    model.add(Dense(1)) #output layer, no activation function
    
    optimizer = Adam(learning_rate=learning_rate)
    model.compile(optimizer=optimizer, loss='mean_squared_error', metrics=['mae'])
    
    return model

In [38]:
# Define hyperparameters
parameter_grid = {
    'learning_rate': [0.001, 0.01, 0.1],
    'num_hidden_layers': [1, 2, 3],
    'num_neurons': [16, 32, 64],
    'activation': ['relu', 'tanh']
}

In [39]:
# Perform the grid search
best_parameter = None
best_score = float('inf')

In [41]:
for learning_rate, num_hidden_layers, num_neurons, activation in product(
    parameter_grid['learning_rate'],
    parameter_grid['num_hidden_layers'],
    parameter_grid['num_neurons'],
    parameter_grid['activation']
):
    parameter = {
        'learning_rate': learning_rate,
        'num_hidden_layers': num_hidden_layers,
        'num_neurons': num_neurons,
        'activation': activation
    }

    # Create and compile the model
    model1 = create_model(**parameter)

    # Train the model on the training set
    model1.fit(X_train, y_train, epochs=50, batch_size=32, verbose=0)

    # Evaluate the model on the validation set
    _, mae = model1.evaluate(X_test, y_test)

    if mae < best_score:
        best_score = mae
        best_parameter = parameter

# Print the best hyperparameters and corresponding score
print("Best Hyperparameters: ", best_parameter)
print("Best MAE Score: ", best_score)

114/114 [==============================] - 0s 393us/step - loss: 0.0729 - mae: 0.1418
114/114 [==============================] - 0s 429us/step - loss: 0.0770 - mae: 0.1568
114/114 [==============================] - 0s 458us/step - loss: 0.0743 - mae: 0.1446
114/114 [==============================] - 0s 494us/step - loss: 0.0776 - mae: 0.1589
114/114 [==============================] - 0s 575us/step - loss: 0.0735 - mae: 0.1480
114/114 [==============================] - 0s 598us/step - loss: 0.0785 - mae: 0.1575
114/114 [==============================] - 0s 486us/step - loss: 0.0729 - mae: 0.1396
114/114 [==============================] - 0s 476us/step - loss: 0.0726 - mae: 0.1425
114/114 [==============================] - 0s 490us/step - loss: 0.0730 - mae: 0.1332
114/114 [==============================] - 0s 473us/step - loss: 0.0741 - mae: 0.1499
114/114 [==============================] - 0s 433us/step - loss: 0.0741 - mae: 0.1371
114/114 [==============================] - 0s 493us/step - loss: 0.0743 - mae: 0.1501
114/114 [==============================] - 0s 517us/step - loss: 0.0726 - mae: 0.1355
114/114 [==============================] - 0s 468us/step - loss: 0.0741 - mae: 0.1430
114/114 [==============================] - 0s 458us/step - loss: 0.0731 - mae: 0.1481
114/114 [==============================] - 0s 515us/step - loss: 0.0742 - mae: 0.1462
114/114 [==============================] - 0s 476us/step - loss: 0.0734 - mae: 0.1417
114/114 [==============================] - 0s 465us/step - loss: 0.0722 - mae: 0.1436
114/114 [==============================] - 0s 464us/step - loss: 0.0718 - mae: 0.1375
114/114 [==============================] - 0s 437us/step - loss: 0.0744 - mae: 0.1394
114/114 [==============================] - 0s 459us/step - loss: 0.0726 - mae: 0.1557
114/114 [==============================] - 0s 463us/step - loss: 0.0730 - mae: 0.1535
114/114 [==============================] - 0s 445us/step - loss: 0.0719 - mae: 0.1507
114/114 [==============================] - 0s 432us/step - loss: 0.0747 - mae: 0.1395
114/114 [==============================] - 0s 456us/step - loss: 0.0720 - mae: 0.1365
114/114 [==============================] - 0s 487us/step - loss: 0.0735 - mae: 0.1376
114/114 [==============================] - 0s 457us/step - loss: 0.0716 - mae: 0.1362
114/114 [==============================] - 0s 437us/step - loss: 0.0773 - mae: 0.1561
114/114 [==============================] - 0s 445us/step - loss: 0.0731 - mae: 0.1512
114/114 [==============================] - 0s 488us/step - loss: 0.0872 - mae: 0.1661
114/114 [==============================] - 0s 444us/step - loss: 0.0752 - mae: 0.1626
114/114 [==============================] - 0s 407us/step - loss: 0.0735 - mae: 0.1355
114/114 [==============================] - 0s 412us/step - loss: 0.0742 - mae: 0.1624
114/114 [==============================] - 0s 413us/step - loss: 0.0805 - mae: 0.1770
114/114 [==============================] - 0s 422us/step - loss: 0.0759 - mae: 0.1392
114/114 [==============================] - 0s 428us/step - loss: 0.0878 - mae: 0.1625
114/114 [==============================] - 0s 381us/step - loss: 0.0886 - mae: 0.1719
114/114 [==============================] - 0s 397us/step - loss: 0.0967 - mae: 0.1543
114/114 [==============================] - 0s 388us/step - loss: 0.1024 - mae: 0.2316
114/114 [==============================] - 0s 403us/step - loss: 0.0791 - mae: 0.1574
114/114 [==============================] - 0s 420us/step - loss: 0.0882 - mae: 0.1822
114/114 [==============================] - 0s 405us/step - loss: 0.1381 - mae: 0.1958
114/114 [==============================] - 0s 409us/step - loss: 0.0996 - mae: 0.1853
114/114 [==============================] - 0s 415us/step - loss: 0.0975 - mae: 0.2518
114/114 [==============================] - 0s 411us/step - loss: 0.1032 - mae: 0.1424
114/114 [==============================] - 0s 412us/step - loss: 0.1185 - mae: 0.1649
114/114 [==============================] - 0s 413us/step - loss: 0.0999 - mae: 0.1758
114/114 [==============================] - 0s 407us/step - loss: 0.2646 - mae: 0.4766
114/114 [==============================] - 0s 411us/step - loss: 0.0996 - mae: 0.1897
114/114 [==============================] - 0s 406us/step - loss: 0.0911 - mae: 0.2447
114/114 [==============================] - 0s 414us/step - loss: 0.0997 - mae: 0.1807
114/114 [==============================] - 0s 419us/step - loss: 0.1592 - mae: 0.3182
114/114 [==============================] - 0s 417us/step - loss: 0.1031 - mae: 0.2370
114/114 [==============================] - 0s 415us/step - loss: 0.1287 - mae: 0.2099
Best Hyperparameters:  {'learning_rate': 0.001, 'num_hidden_layers': 2, 'num_neurons': 32, 'activation': 'relu'}
Best MAE Score:  0.13320353627204895